<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/071f6fa034.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <title>Webjump - Desafio Frontend</title>
</head>

<body>
    <header>
        <div class="container-fluid" style=" background-color: black;">
            <div class="row align-items-center">
                <div class="col-xl-1"></div>
                <div class="col">
                    <div class="d-sm-block d-inline-block header">
                        <a class="headerLink" HREF="">Acesse sua conta</a> ou <a class="headerLink"
                            href="">Cadastre-se</a>
                    </div>
                </div>
                <div class="col-xl-1"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-1"></div>
                <div class="col">
                    <nav class="navbar navbar-expand-sm navbar-light bg-white navIcons">
                        <i class="fa fa-bars fa-lg fa-dn"></i>
                        <img id="logo" src="/media/logo-webjump-footer.png" alt="Logo da WebJump."> <i
                            class="fa fa-search fa-lg fa-dn" aria-hidden="true"></i>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <form class="d-flex position-absolute end-0">
                                <input id="inputBuscar" class="form-control" type="search" placeholder=""
                                    aria-label="Search">
                                <button id="btnBuscar" class="btn btn-outline-success" type="submit">BUSCAR</button>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="col-xl-1"></div>
            </div>
        </div>
        <div id="menu" class="container-fluid ">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link menuLinks  active" aria-current="page" href="/">PAGINA INICIAL</a>
                        </li>
                        <% for (let categoria of data.categorias.items){ %>
                            <li class="nav-item ">
                                <a class="nav-link menuLinks " href="<%= `/list/${categoria.id}` %>">
                                    <%=categoria.name.toUpperCase()%>
                                </a>
                            </li>
                            <% } %>

                                <li class="nav-item ">
                                    <a class="nav-link  menuLinks">CONTATO</a>
                                </li>
                    </ul>
                </div>
                <div class="col-xl-1">
                </div>
            </div>
        </div>
    </header>
    <main>
        <%- body %>

    </main>
</body>

</html>