<% layout('./layouts/boilerplate') %>
    <section class="containerInicial">
        <aside class="boxCinza ">
            <ul style="line-height: 1.5;">
                <li><a class="linkPaginaInicial" href="">Página Inicial</a></li>
                <%for (let categoria of data.categorias.items){%>
                    <li>
                        <a class="linkPaginaInicial" href="<%= `/list/${categoria.id}` %> ">
                            <%= categoria.name %>
                        </a>
                    </li>
                    <% } %>
                        <li><a class="linkPaginaInicial" href="">Contato</a></li>
            </ul>
        </aside>
        <section class="newsImage">.</section>
        <article class="bemVindo">
            <h4 class="mt-3">Seja bem-vindo!</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Eu feugiat pretium nibh ipsum. Dictum at tempor commodo ullamcorper. At erat
                pellentesque adipiscing commodo elit at imperdiet. Nulla facilisi nullam vehicula ipsum a arcu
                cursus vitae. Ullamcorper sit amet risus nullam eget felis eget nunc. Tortor posuere ac ut consequat
                semper viverra nam libero. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius.
                Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Aliquet porttitor lacus luctus
                accumsan tortor posuere ac ut consequat. Placerat vestibulum lectus mauris ultrices eros in. Commodo
                nulla facilisi nullam vehicula ipsum. Posuere sollicitudin aliquam ultrices sagittis orci. Dui id
                ornare arcu odio ut sem nulla pharetra. Duis at consectetur lorem donec massa sapien faucibus.
                Arcu odio ut sem nulla pharetra diam sit. Mattis enim ut tellus elementum sagittis vitae et leo.
                Quam pellentesque nec nam aliquam sem. Urna molestie at elementum eu. Volutpat est velit egestas dui
                id ornare arcu odio ut. Eu mi bibendum neque egestas congue quisque egestas. Enim praesent elementum
            </p>
        </article>
        <footer class="footer">Felipe Cruz</footer>
    </section>