<% layout('./layouts/boilerplate') %>
    <section class="containerLista">
        <aside class="boxFiltro ">
            <p class="boxFiltroTitulo">FILTRE POR</p>
            <p class="boxFiltroCategoria">CATEGORIAS</p>
            <div class="boxFiltroCategorias">
                <ul>
                    <%for (let categoria of data.categorias.items){%>
                        <li>
                            <a class="linkPaginaInicial" href="<%= `/list/${categoria.id}` %> ">
                                <%= categoria.name %>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </div>
        </aside>
        <section class="boxCaminho">
            <p><a href="/">Página Inicial ></a>
                <%= data.nome %>
            </p>
        </section>
        <section class="boxTitulo">
            <h2 class="titulo">
                <%= data.nome %>
            </h2>
            <hr>
        </section>

        <section class="boxCaixaDeFerramentas">
            <div class="icon">
                <i class="fa fa-th" aria-hidden="true"></i>
                <i class="fa fa-th-list" aria-hidden="true"></i>
            </div>

            <div class="ordenar"><span>ORDENADO POR</span>
                <select name="Filtro" id="Filtro">
                    <option value="volvo">Preço</option>
                </select>
            </div>

        </section>
        <hr>
        <section class="boxBandejaItems">

            <% for (let item of data.items.items) { %>

                <div class="card">
                    <img class="card-img" src="/<%= item.image %>" alt="Card image cap">

                    <p class="card-nome">
                        <%= item.name.toUpperCase() %>
                    </p>
                    <p class="price">R$ <%= item.price.toFixed(2).replace('.',',') %>
                    </p>
                    <button>COMPRAR</button>
                </div>


                <% } %>


        </section>
        <footer class="footer">Felipe Cruz</footer>
    </section>