/*---------------------------------------------------------------------------------------*/
/*------------------------------------------ GLOBAL------------------------------------- */
/*---------------------------------------------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.0
}
/*-HEADER--------------------------------------------------------------------------------- */
.fa-dn{
    display: none;
}

#header {
    color: red;
    font-family: 'Open Sans', sans-serif;
    padding-right: 2em;
    text-align: right;
}

.header {
    padding-top: 0.2em;
    background-color: black;
    height: 1.5em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-right: 0em;
    text-align: right;
    font-size: small;
}

.headerLink{
    color: white;
    font-weight: bold;
}

#logo {
    width: 13em;
    height: auto;
    margin-top:1em;
    margin-bottom:1em;
} 

#btnBuscar{
    background-color: #d00c1c;
    color: white;
    border-style: none;
    border-radius: 0;
    margin-top: 1em;
    margin-bottom:1em;
    font-weight: bold;
}

#inputBuscar{
    border-radius: 0;
    margin-top: 1em;
    margin-bottom:1em;
    width: 25em;
    border-color:darkgray
}

#menu{
    background-color: #d00c1c;
    height: 3em;
    padding-top: 0.5em;
}

.nav-item{
    margin-right: 3em;
}

.menuLinks{
    color: white;
    font-weight: bold;
    height: 3em;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
}

/*---------------------------------------------------------------------------------------*/
/*------------------------------------ GLOBAL DEFAULT----------------------------------- */
/*---------------------------------------------------------------------------------------*/

/*-INDEX--------------------------------------------------------------------------------- */
.containerInicial{
    width: 1150px;
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-areas: 
    "boxCinza newsImage"
    "boxCinza bemVindo"
    "footer footer";
}

.boxCinza{
    padding-top: 1em;
    margin-top: 1em;
    background-color: #e2dedb    ;
    height: 500px;
    width: 300px;
    grid-area: "boxCinza";
    grid-row: boxCinza
}

.newsImage{
    margin-top: 1em;
    background-color: 
    #acacac;
    width:100%;
    height: 25vh;
    grid-area: "newsImage"
}

.linkPaginaInicial{
    color: black;
    text-decoration: none;
}



.bemVindo{
    grid-area: "bemVindo"
}

#barraFiltro{
    grid-row: card
}

/*-LIST--------------------------------------------------------------------------------- */
.containerLista{
    width: 1150px;
    margin: 0 auto;
    display: grid;
    gap: 0.5em;
    grid-template-areas:
    "boxCaminho boxCaminho"  
    "boxFiltro hr"
    "boxFiltro boxTitulo"
    "boxFiltro boxCaixaDeFerramentas"
    "boxFiltro boxBandejaItems"
    "footer footer ";
    
    }

    .boxCaminho{
        grid-area: "boxCaminho";
        grid-column: boxCaminho;
    }
    

    .boxBandejaItems{
        width: 800px;
        display: grid;
        gap: 0.5em;
        grid-template-areas:
        "card card card card"  
        
    }
    .card{
        grid-area: "card";
        width: 200px;
        height: 330px;
        border-style:none;
        margin-top: 1em;
        }

    .card button{
        background-color: #80bcbc;
        color: white;
        border-style: none;
        border-radius: 3px;
        height: 2em;
        font-weight: bold;
        width: 180px;
        margin-left: 10px;
        position: absolute;
        bottom:0;
    }

    .card .price{
        color:#d00c1c;
        font-weight: bolder;
        font-size: large;
        text-align: center;
        position: relative;
        bottom: 1;
    }

    .card p {
        padding-top: 1em;
        height: 50px;
    }


    
    .boxCaminho{
        margin-left: 1em;
        color: #d00c1c;
        position: relative;
        float: left;
        top: 50%;
    }

    .boxCaminho p a {

        color: black;
        text-decoration: none;
        
    }

    .boxTitulo{
        margin-top: 1em;
        color: #d00c1c;
        font-weight: bold;
        grid-area: "boxTitulo";
        grid-column: boxTitulo;
    
    }

    .boxTitulo .titulo{
        margin-left: 0.8em;
    }

    hr{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        color: gray;;
        grid-area: "hr";
        margin-left: 1em;
    }

    .boxCaixaDeFerramentas{
        grid-area: "boxCaixaDeFerramentas";
        grid-column: boxCaixaDeFerramentas;
        display: flex;
    }

    .boxCaixaDeFerramentas .ordenar span{
        margin-right: 1em;
        color: gray;
        font-weight: bold;
    }

    #Filtro{
        border-radius: 3px;
        border-color: lightgray;
        width: 230px;
    }


    .boxCaixaDeFerramentas .icon {
        margin-left: 1em; 
        margin-right: auto;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        gap: 0.4em
    }

    .boxCaixaDeFerramentas .icon .fa-th {
        color:#80bcbc
    }

    .boxCaixaDeFerramentas .icon .fa-th-list {
        color:gray
    }


    .boxFiltro{
    padding-top: 1em;
    margin-top: 1em;
    margin-left: 1em;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray ;
    background-color: white    ;
    width: 250px;
    height: 30vh;
    grid-area: "boxFiltro";
    grid-row: boxFiltro
    }

    .card-img{
    margin: 0 auto;
    width: 90%;
    height: 12rem; 
    border-style: solid;
    border-width: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: lightgray;
    }
    .card-nome{
    margin-top: 1em;
    text-align: center;
    margin: 0 auto;
    }


    .boxFiltroTitulo{
    font-size: 17px;
    color: #d00c1c;
    font-weight: bold;
    margin-left: 1em;

    }

    .boxFiltroCategoria{

    color:  #80bcbc;
    font-weight: bold;
    margin-left: 1em;

    }
    .boxFiltroCategoria p{
        color:  #80bcbc;
        font-size: 15px;
        font-weight: bold;
        margin-left: 1em;
    
        }
    .boxFiltroCategorias{
    line-height: 1.5;
    font-size: small;
    color:  gray;

    }
/*-FOOTER--------------------------------------------------------------------------------- */
.footer {
    left: 0;
    bottom: 0;
    height: 20vh;
    width: 100%;
    background-color:#d00c1c;
    color: #d00c1c;;
    text-align: center;
    grid-area: "footer";
    grid-column: footer;

  }
/*---------------------------------------------------------------------------------------*/
/*--------------------------------- BREAKPOINT 1440------------------------------------- */
/*---------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1440px) and (min-width:1025px){
/*-INDEX--------------------------------------------------------------------------------- */
    .containerInicial{
        width: 1150px;
        margin: 0 auto;
        display: grid;
        gap: 1em;
        grid-template-areas: 
        "boxCinza newsImage"
        "boxCinza bemVindo"
        "footer footer";
    }
    
    .boxCinza{
        padding-top: 1em;
        margin-top: 1em;
        background-color: #e2dedb    ;
        height: 500px;
        width: 300px;
        grid-area: "boxCinza";
        grid-row: boxCinza
    }
    
    .newsImage{
        margin-top: 1em;
        background-color: 
        #acacac;
        width:100%;
        height: 25vh;
        grid-area: "newsImage"
    }
    
    .linkPaginaInicial{
        color: black;
        text-decoration: none;
    }
    
    
    
    .bemVindo{
        grid-area: "bemVindo"
    }
    
    #barraFiltro{
        grid-row: card
    }
    
    
    .card{
        grid-area: "card";
        width: 200px;
        border-style:none;
    }
    

/*-LIST--------------------------------------------------------------------------------- */

    .containerLista{
        width: 1150px;
        margin: 0 auto;
        display: grid;
        gap: 0.5em;
        grid-template-areas:
        "boxCaminho boxCaminho"  
        "boxFiltro hr"
        "boxFiltro boxTitulo"
        "boxFiltro boxCaixaDeFerramentas"
        "boxFiltro boxBandejaItems"
        "footer footer ";
        
        }
    
        .boxCaminho{
            grid-area: "boxCaminho";
            grid-column: boxCaminho;
        }
        

        .boxBandejaItems{
            width: 800px;
            display: grid;
            gap: 0.5em;
            grid-template-areas:
            "card card card card"  
            
        }
        .card{
            grid-area: "card";
            width: 200px;
            height: 330px;
            border-style:none;
            margin-top: 1em;
            }
    
        .card button{
            background-color: #80bcbc;
            color: white;
            border-style: none;
            border-radius: 3px;
            height: 2em;
            font-weight: bold;
            width: 180px;
            margin-left: 10px;
            position: absolute;
            bottom:0;
        }
    
        .card .price{
            color:#d00c1c;
            font-weight: bolder;
            font-size: large;
            text-align: center;
            position: relative;
            bottom: 1;
        }
    
        .card p {
            padding-top: 1em;
            height: 50px;
        }
    
    
        
        .boxCaminho{
            margin-left: 1em;
            color: #d00c1c;
            position: relative;
            float: left;
            top: 50%;
        }
    
        .boxCaminho p a {
    
            color: black;
            text-decoration: none;
            
        }
    
        .boxTitulo{
            margin-top: 1em;
            color: #d00c1c;
            font-weight: bold;
            grid-area: "boxTitulo";
            grid-column: boxTitulo;
        
        }
    
        .boxTitulo .titulo{
            margin-left: 0.8em;
        }
    
        hr{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            color: gray;
            grid-area: "hr";
            margin-left: 1em;
        }
    
        .boxCaixaDeFerramentas{
            grid-area: "boxCaixaDeFerramentas";
            grid-column: boxCaixaDeFerramentas;
            display: flex;
        }
    
        .boxCaixaDeFerramentas .ordenar span{
            margin-right: 1em;
            color: gray;
            font-weight: bold;
        }
    
        #Filtro{
            border-radius: 3px;
            border-color: lightgray;
            width: 230px;
        }
    
    
        .boxCaixaDeFerramentas .icon {
            margin-left: 1em; 
            margin-right: auto;
            display: flex;
            margin-top: auto;
            margin-bottom: auto;
            gap: 0.4em
        }
    
        .boxCaixaDeFerramentas .icon .fa-th {
            color:#80bcbc
        }
    
        .boxCaixaDeFerramentas .icon .fa-th-list {
            color:gray
        }
    
    
        .boxFiltro{
        padding-top: 1em;
        margin-top: 1em;
        margin-left: 1em;
        border-style: solid;
        border-width: 0.5px;
        border-color: lightgray ;
        background-color: white    ;
        width: 250px;
        height: 30vh;
        grid-area: "boxFiltro";
        grid-row: boxFiltro
        }
    
        .card-img{
        margin: 0 auto;
        width: 90%;
        height: 12rem; 
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        padding-bottom: 1em;
        border-color: lightgray;
        }
        .card-nome{
        margin-top: 1em;
        text-align: center;
        margin: 0 auto;
    }
    
    
        .boxFiltroTitulo{
        font-size: 17px;
        color: #d00c1c;
        font-weight: bold;
        margin-left: 1em;
    
        }
    
        .boxFiltroCategoria{
    
        color:  #80bcbc;
        font-weight: bold;
        margin-left: 1em;
    
        }
        .boxFiltroCategoria p{
            color:  #80bcbc;
            font-size: 15px;
            font-weight: bold;
            margin-left: 1em;
        
            }
        .boxFiltroCategorias{
        line-height: 1.5;
        font-size: small;
        color:  gray;
    
        }
/*-FOOTER----------------------------------------------------------------------------------*/
        .footer {
            left: 0;
            bottom: 0;
            height: 20vh;
            width: 100%;
            background-color:#d00c1c;
            color: #d00c1c;;
            text-align: center;
            grid-area: "footer";
            grid-column: footer;
        
          }
    
}
    


/*---------------------------------------------------------------------------------------*/
/*--------------------------------- BREAKPOINT 1024------------------------------------- */
/*---------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1025px) and (min-width:769px){
/*-INDEX--------------------------------------------------------------------------------- */
    .containerInicial{
            width: 1000px;
           display: grid;
            margin: 0 auto;
            gap: 1em;
            grid-template-areas:
            "boxCinza newsImage"
            "boxCinza bemVindo"
            "footer footer";
            
        }
    .boxCinza{
    padding-top: 1em;
    margin-top: 1em;
    background-color: #e2dedb    ;
    height: 500px;
    width: 200px;
    grid-area: "boxCinza";
    grid-row: boxCinza
    }
    .newsImage{
    margin-top: 1em;
    background-color:#acacac;
       width:100%;
    height: 20vh;
    grid-area: "newsImage"  
    }
    
    .linkPaginaInicial{
    color: black;
    text-decoration: none;
    }
    
    #logo {
        margin-left: 1em;
    } 
    
    
    .bemVindo{
    grid-area: "bemVindo"
    }
    
    #barraFiltro{
    grid-row: card  
    }

/*-LIST--------------------------------------------------------------------------------- */
    .containerLista{
    padding-left: 1em;
    width: 800px;
    margin: 0 0;
    display: grid;
    gap: 0.5em;
    grid-template-areas:
    "boxCaminho boxCaminho"  
    "boxFiltro hr"
    "boxFiltro boxTitulo"
    "boxFiltro boxCaixaDeFerramentas"
    "boxFiltro boxBandejaItems"
    "footer footer ";
    
    }

    .boxBandejaItems{
        width: 800px;
        display: grid;
        gap: 0.5em;
        grid-template-areas:
        "card card card card"  
        
    }
    .card{
        grid-area: "card";
        width: 200px;
        height: 330px;
        border-style:none;
        margin-top: 1em;
        }

    .card button{
        background-color: #80bcbc;
        color: white;
        border-style: none;
        border-radius: 3px;
        height: 2em;
        font-weight: bold;
        width: 180px;
        margin-left: 10px;
        position: absolute;
        bottom:0;
    }

    .card .price{
        color:#d00c1c;
        font-weight: bolder;
        font-size: large;
        text-align: center;
        position: relative;
        bottom: 1;
    }

    .card p {
        padding-top: 1em;
        height: 50px;
    }


    
    .boxCaminho{
        color: #d00c1c;
        position: relative;
        float: left;
        top: 50%;
        grid-area: "boxCaminho";
        grid-column: boxCaminho;
    }

    .boxCaminho p a {

        color: black;
        text-decoration: none;
        
    }

    .boxTitulo{
        margin-top: 1em;
        color: #d00c1c;
        font-weight: bold;
        grid-area: "boxTitulo";
        grid-column: boxTitulo;
    
    }

    .boxTitulo .titulo{
        margin-left: 0.8em;
    }

    hr{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        color: gray;
        grid-area: "hr";
        margin-left: 1em;
    }

    .boxCaixaDeFerramentas{
        grid-area: "boxCaixaDeFerramentas";
        grid-column: boxCaixaDeFerramentas;
        display: flex;
    }

    .boxCaixaDeFerramentas .ordenar span{
        margin-right: 1em;
        color: gray;
        font-weight: bold;
    }

    #Filtro{
        border-radius: 3px;
        border-color: lightgray;
        width: 230px;
    }


    .boxCaixaDeFerramentas .icon {
        margin-left: 1em; 
        margin-right: auto;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        gap: 0.4em
    }

    .boxCaixaDeFerramentas .icon .fa-th {
        color:#80bcbc
    }

    .boxCaixaDeFerramentas .icon .fa-th-list {
        color:gray
    }


    .boxFiltro{
    padding-top: 1em;
    margin-top: 1em;
    margin-left: 1em;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray ;
    background-color: white    ;
    width: 150px;
    height: 30vh;
    grid-area: "boxFiltro";
    grid-row: boxFiltro
    }

    .card-img{
    margin: 0 auto;
    width: 90%;
    height: 12rem; 
    border-style: solid;
    border-width: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: lightgray;
    }
    .card-nome{
    margin-top: 1em;
    text-align: center;
    margin: 0 auto;
}


    .boxFiltroTitulo{
    font-size: 17px;
    color: #d00c1c;
    font-weight: bold;
    margin-left: 1em;

    }

    .boxFiltroCategoria{

    color:  #80bcbc;
    font-weight: bold;
    margin-left: 1em;

    }
    .boxFiltroCategoria p{
        color:  #80bcbc;
        font-size: 15px;
        font-weight: bold;
        margin-left: 1em;
    
        }
    .boxFiltroCategorias{
    line-height: 1.5;
    font-size: small;
    color:  gray;

    }


  /*-FOOTER--------------------------------------------------------------------------------- */
    .footer {
        display: flex;
        margin: 0 auto;
        left: 0;
        bottom: 0;
        height: 20vh;
        width: 100%;
        background-color:#d00c1c;
        color: #d00c1c;;
        text-align: center;
        grid-area: "footer";
        grid-column: footer;
        
        }
}
/*---------------------------------------------------------------------------------------*/
/*--------------------------------- BREAKPOINT 768------------------------------------- */
/*---------------------------------------------------------------------------------------*/

    @media only screen and (max-width: 769px){
/*-INDEX--------------------------------------------------------------------------------- */
    .containerInicial{
    width: 700px;
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-areas: 
    "boxCinza newsImage"
    "boxCinza bemVindo"
    "footer footer";
    }
        
    .boxCinza{
    padding-top: 1em;
    margin-top: 1em;
    background-color: #e2dedb    ;
    height: 500px;
    width: 160px;
    grid-area: "boxCinza";
    grid-row: boxCinza
    }

    .newsImage{
    margin-top: 1em;
    background-color: 
    #acacac;
    width:100%;
    height: 20vh;
    grid-area: "newsImage"
    }  
/*-LIST--------------------------------------------------------------------------------- */
    .containerLista{
    margin: 0 0;
    width: 700px;
    display: grid;
    grid-template-areas:
    "boxCaminho boxCaminho"  
    "boxFiltro hr"
    "boxFiltro boxTitulo"
    "boxFiltro boxCaixaDeFerramentas"
    "boxFiltro boxBandejaItems"
    "footer footer ";   
    }

    .boxCaminho{
    grid-area: "boxCaminho";
    grid-column: boxCaminho;
    }
    

    .boxBandejaItems{
    width: 580px;
    display: grid;
    gap: 0.2em;
    grid-template-areas:
    "card card card"      
    }

    .card{
    grid-area: "card";
    width: 200px;
    height: 330px;
    border-style:none;
    margin-top: 1em;
    }

    .card button{
    background-color: #80bcbc;
    color: white;
    border-style: none;
    border-radius: 3px;
    height: 2em;
    font-weight: bold;
    width: 180px;
    margin-left: 10px;
    position: absolute;
    bottom:0;
    }

    .card .price{
    color:#d00c1c;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    position: relative;
    bottom: 1;
    }

    .card p {
    padding-top: 1em;
    height: 50px;
    }

    .boxCaminho{
    margin-left: 1em;
    color: #d00c1c;
    position: relative;
    float: left;
    top: 50%;
    }

    .boxCaminho p a {
    color: black;
    text-decoration: none;    
    }

    .boxTitulo{
    margin-top: 1em;
    color: #d00c1c;
    font-weight: bold;
    grid-area: "boxTitulo";
    grid-column: boxTitulo;
    }

    .boxTitulo .titulo{
    margin-left: 0.8em;
    }

    hr{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: gray;
    grid-area: "hr";
    margin-left: 1em;
    }

    .boxCaixaDeFerramentas{
    grid-area: "boxCaixaDeFerramentas";
    grid-column: boxCaixaDeFerramentas;
    display: flex;
    }

    .boxCaixaDeFerramentas .ordenar span{
    margin-right: 1em;
    color: gray;
    font-weight: bold;
    }

    #Filtro{
    border-radius: 3px;
    border-color: lightgray;
    width: 230px;
    }

    .boxCaixaDeFerramentas .icon {
    margin-left: 1em; 
    margin-right: auto;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    gap: 0.4em
    }

    .boxCaixaDeFerramentas .icon .fa-th {
    color:#80bcbc
    }

    .boxCaixaDeFerramentas .icon .fa-th-list {
    color:gray
    }

    .boxFiltro{
    padding-top: 1em;
    margin-top: 1em;
    margin-left: 1em;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray ;
    background-color: white    ;
    width: 150px;
    height: 30vh;
    grid-area: "boxFiltro";
    grid-row: boxFiltro
    }

    .card-img{
    margin: 0 auto;
    width: 90%;
    height: 12rem; 
    border-style: solid;
    border-width: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: lightgray;
    }

    .card-nome{
    margin-top: 1em;
    text-align: center;
    margin: 0 auto;
    }

    .boxFiltroTitulo{
    font-size: 17px;
    color: #d00c1c;
    font-weight: bold;
    margin-left: 1em;
    }

    .boxFiltroCategoria{
    color:  #80bcbc;
    font-weight: bold;
    margin-left: 1em;
    }

    .boxFiltroCategoria p{
    color:  #80bcbc;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1em;
    }

    .boxFiltroCategorias{
    line-height: 1.5;
    font-size: small;
    color:  gray;
    }

    .linkPaginaInicial{
    color: black;
    text-decoration: none;
    }

    .bemVindo{
    grid-area: "bemVindo"
    }

    #barraFiltro{
    grid-row: card
    }

    .nav-item{
    margin-right: 1em;
    }

    .card{
    grid-area: "card";
    width: 200px;
    border-style:none;
    }
 /*-FOOTER----------------------------------------------------------------------------------*/
    .footer {
    left: 0;
    bottom: 0;
    height: 20vh;
    width: 100%;
    background-color:#d00c1c;
    color: #d00c1c;;
    text-align: center;
    grid-area: "footer";
    grid-column: footer;
    }

}

 /*---------------------------------------------------------------------------------------*/
/*--------------------------------- BREAKPOINT 320-------------------------------------- */
/*---------------------------------------------------------------------------------------*/

    @media only screen and (max-width: 767px) and (min-width:0px){
/*-INDEX--------------------------------------------------------------------------------- */
    .containerInicial{
    width:95%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
            "boxCinza"
            "newsImage"
            "bemVindo"
            "footer";
            
    }
    .newsImage{
    margin-top: 1em;
    background-color: #acacac;
    width:100%;
    height: 10vh;
    grid-area: "newsImage"
    }
    
    .boxCinza{
    display: none;
    }
    
    #menu{
    display: none;
    }
    
    .bemVindo{
    width: 300px;
    grid-area: "bemVindo"
    }
    .footer {
        left: 0;
        bottom: 0;
        height: 20vh;
        width: 100%;
        background-color:#d00c1c;
        color: #d00c1c;;
        text-align: center;
        grid-area: "footer";
        }
        
        #logo {
        width: 13em;
        height: auto;
        margin-top:1em;
        margin-bottom:1em;
        } 
    
        .navIcons{
        justify-content: space-between;
        }
    
        .fa-dn{
        display: block;
        }
    
        .fa-search{
        color: #d00c1c;
        }
    
        .header {
        width: 100%;
        color: white;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        padding-right: 0em;
        font-size: small;
        }
        
        .headerLink{
        color: white;
        font-weight: bold;
        }
        
        #btnBuscar{
        background-color: #d00c1c;
        color: white;
        border-style: none;
        border-radius: 0;
        margin-top: 1em;
        margin-bottom:1em;
        font-weight: bold;
        }
        
        #inputBuscar{
        border-radius: 0;
        margin-top: 1em;
        margin-bottom:1em;
        width: 25em;
        border-color:darkgray
        }
        
        #menu{
        background-color: #d00c1c;
        height: 3em;
        }
        
        .nav-item{
        margin-right: 3em;
        }
        
        .menuLinks{
        color: white;
        font-weight: bold;
        height: 3em;
        vertical-align: middle;
        display: flex;
        justify-content: space-between;
        padding-right: 2em;
        }
/*-LIST--------------------------------------------------------------------------------- */

    .containerLista{
    margin: 0 0;
    width: 300px;
    display: grid;
    grid-template-areas: 
        "boxCaminho" 
        "boxFiltro"
        "boxTitulo"
        "boxCaixaDeFerramentas"
        "boxBandejaItems"
        "footer";
    }
    
    .boxCaminho{
    grid-area: "boxCaminho";
    }
        
    
    .boxBandejaItems{
    width: 300px;
    display: grid;
    gap: 0.2em;
    grid-template-areas:
            "card card";  
            
    }
    
    .card{
    grid-area: "card";
    width: 150px;
    height: 250px;
    border-style:none;
    }
    
    .card button{
    display: none;
    background-color: #80bcbc;
    color: white;
    border-style: none;
    border-radius: 3px;
    height: 2em;
    font-weight: bold;
    width: 90px;
    margin-left: 10px;
    position: absolute;
    bottom:0;
    }
    
    .card .price{
    color:#d00c1c;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    position: relative;
    bottom: 0;
    }
    
    .card p {
    padding-top: 1em;
    height: 50px;
    }
    
    .card-img{
    margin: 0 auto;
    width: 90%;
    height: 10rem; 
    border-style: solid;
    border-width: 1px;
    padding-bottom: 1em;
    border-color: lightgray;
    }
    
    .card-nome{
    min-height: 50px;
    margin-top: 1em;
    text-align: center;
    margin: 0 auto;
    }
        
    
        
    .boxCaminho{
    margin-left: 1em;
    color: #d00c1c;
    position: relative;
    float: left;
    top: 50%;
    }
    
    .boxCaminho p a {
    color: black;
    text-decoration: none;        
    }
    
    .boxTitulo{
    margin-top: 1em;
    color: #d00c1c;
    font-weight: bold;
    grid-area: "boxTitulo";    
    }
    
    .boxTitulo .titulo{
    margin-left: 0.8em;
    }
    
    hr{
    display: none;
    color: black;
    grid-area: "hr";
    margin-left: 1em;
    }
    
    .boxCaixaDeFerramentas{
    grid-area: "boxCaixaDeFerramentas";
    display: flex;
    vertical-align: center;
    }
    
    .boxCaixaDeFerramentas .ordenar span{
    font-size: small;
    color: gray;
    font-weight: bold;
    }
    
    #Filtro{
    margin-right: 0.4em;
    border-radius: 3px;
    border-color: lightgray;
    width: 160px;
    }
    
    .boxCaixaDeFerramentas .icon {
    display: none;
    margin-left: 1em; 
    margin-right: auto;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    gap: 0.4em
    }
    
    .boxCaixaDeFerramentas .icon .fa-th {
    display: none;
    color:#80bcbc
    }
    
    .boxCaixaDeFerramentas .icon .fa-th-list {
    display: none;
    color:gray
    }
    
    .boxFiltro{
    padding-top: 1em;
    margin-top: 1em;
    margin-left: 1em;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray ;
    background-color: white    ;
    width: 290px;
    height: 30vh;
    grid-area: "boxFiltro";
    }
    
    .boxFiltroTitulo{
    font-size: 17px;
    color: #d00c1c;
    font-weight: bold;
    margin-left: 1em;
    }
    
    .boxFiltroCategoria{
    color:  #80bcbc;
    font-weight: bold;
    margin-left: 1em;
    }

    .boxFiltroCategoria p{
    color:  #80bcbc;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1em;    
    }
    
    .boxFiltroCategorias{
    line-height: 1.5;
    font-size: small;
    color:  gray;
    }
    
    .linkPaginaInicial{
    color: black;
    text-decoration: none;
    }
    
    
    
    .path{
    color:black;
    }
    
    .pathLink{
    color:black;
    }
}